:root {
    --color-1: #fefaec;
    --color-2: #240a05;
    --color-3: #f9a1bc;
    --color-4: #393939;
    --main-vanilla: #fefaec;
    --main-chocolate: #240a05;
    --main-strawberry: #f9a1bc;
    --max-width: 65ch;
    --border-radius-1: 0.4rem;
}

/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/italic-400-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/italic-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/normal-400-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/normal-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/normal-700-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/atkinson-hyperlegible/normal-700-latin-ext.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: var(--main-chocolate);
  color: var(--main-vanilla);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-strawberry);
  font-weight: 700;
}


h1 {
  margin-top: 1rem;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: #f9a1bc;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1.15rem;
  font-weight: 400;
}

header {
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

kbd {
  background-color: var(--color-4);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 0.1rem;
  border: 1px solid black;
}

nav > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav > ul > li:nth-last-child(n+2)::after {
    display: inline-block;
    color: var(--color-1);
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

footer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 12px;
  font-size: 0.9rem;
}

p {
  max-width: 68ch;
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}

code {
  border-radius: 22px;
}

input {
  margin: 1px;
}

li {
  margin-bottom: 17px;
  max-width: 72ch;
}

ul {
  padding-top: 8px;
  padding-bottom: 10px;
}


.subtitle {
  font-size: 1.3rem;
  color: var(--main-vanilla);
}

.debug {
  color: #070;
}

.neoexample {
  border: 1px solid var(--color-2);
  border-radius: var(--border-radius-1);
  margin-bottom: 1.9rem;
  margin-top: 1.9rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}


.note {
  border: 1px solid var(--main-strawberry);
  margin: 1.4rem;
  padding: 0rem;
  border-radius: 0.4rem;
}

.noteline {
  background-color: var(--color-3);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  color: var(--color-2);
  padding-left: 0.7rem;
}

.notetext {
  padding: 0.7rem;
}

pre {
  padding: 1.3rem;
}

.pre-wrapper {
  background-color: var(--color-4);
  border: 1px solid var(--color-1);
  border-radius: var(--border-radius-1);
  font-size: 0.92rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pre-spacer {
  background-color: var(--color-1);
  color: var(--color-2);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  min-height: 1.3rem;
  padding-left: 1.3rem;
}

