<aside 
  {%- for attribute in attributes -%}
    {{- " " -}}
    {{attribute.key}}="{{attribute.value}}"
  {%- endfor -%}
  >
  {%- for part in parts -%}
    <p>
    {{- part -}} 
    </p>
  {%- endfor -%}
</aside>
