<details {{- attributes_string -}}>
{%- for part in parts -%}
  {%- if loop.first %}
    <summary>{{- part -}}</summary>
  {%- else -%}
    <p>{{- part -}}</p>
  {%- endif -%}
{%- endfor %}
</details>
