{%- for part in parts -%}
  {%- if loop.first -%}
    <h1
      {%- for attribute in attributes -%}
        {{- attribute -}}
      {%- endfor -%}
    >
      {%- autoescape false -%}
        {{- part -}}
      {%- endautoescape -%}
    </h1>
  {%- else -%}
    <p>
      {%- autoescape false -%}
        {{- part -}}
      {%- endautoescape -%}
    </p>
  {%- endif -%}
{%- endfor -%}
