{%- macro head_content(content) -%}
{%- for section in content -%}
    {%- if section.type == "css" %}
<style type="text/css">
{{ section.text }}
</style>
    {%- elif section.type == "script" %}
<script>
{{ section.text }}
</script>
    {%- endif -%}
{%- endfor -%}
{%- endmacro -%}