{%- from "macros/text.j2" import text -%}
{%- from "macros/section_attrs.j2" import section_attrs -%}

{%- from "sections/image.j2" import image -%}

{%- macro sections(content) -%}

{%- endmacro -%}
