{%- macro section_attrs(attrs) %}
  {%- for attr in attrs %}
    {%- if attr.type == "class" -%}
      {{- " " -}}
      class="
        {%- for item in attr.content %}
          {%- if loop.first == false %}
            {{- " " }}
          {%- endif %}
          {{- item }}
        {%- endfor -%}
      "
    {%- elif attr.type == "id" -%}
      {{- " " -}}
      id="{{- attr.content -}}"
    {%- endif %}
  {%- endfor %}
{%- endmacro -%}