{% macro tag_attrs(data) %}
{%- for attr in data -%}
    {%- if attr.type =="class" %} class="
        {%- for value in attr.content -%}
            {% if loop.first == False %}
                {{- " " -}}
            {% endif %}
            {{- value -}}
        {%- endfor -%}
        "
    {%- endif -%}

    {%- if attr.type =="id" -%} 
        {{- " " -}}
        id="{{- attr.content -}}"
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% macro text(content) -%}
{% for tag in content  %}
    {% if tag.type == "abbr" %}
        <abbr {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </abbr>
    {%- elif tag.type == "b" -%}
        <b {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </b>
    {%- elif tag.type == "code" -%}
        <code {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </code>
    {%- elif tag.type == "dfn" -%}
        <dfn {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </dfn>
    {%- elif tag.type == "em" -%}
        <em {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </em>
    {%- elif tag.type == "i" -%}
        <i {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </i>
    {%- elif tag.type == "kbd" -%}
        <kbd {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </kbd>
    {%- elif tag.type == "link" -%}
        <a href="{{- tag.url -}}" {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </a>
    {%- elif tag.type == "mark" -%}
        <mark {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </mark>
    {%- elif tag.type == "q" -%}
        <q {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </q>
    {%- elif tag.type == "s" -%}
        <s {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </s>
    {%- elif tag.type == "samp" -%}
        <samp {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </samp>
    {%- elif tag.type == "small" -%}
        <small {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </small>
    {%- elif tag.type == "span" -%}
        <span {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </span>
    {%- elif tag.type == "strong" -%}
        <strong {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </strong>
    {%- elif tag.type == "sub" -%}
        <sub {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </sub>
    {%- elif tag.type == "sup" -%}
        <sup {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </sup>
    {%- elif tag.type == "var" -%}
        <var {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </var>
    {%- elif tag.type == "wbr" -%}
        <wbr {{- tag_attrs(tag.attrs) -}}>
            {{- tag.text -}}
        </wbr>
    {%- else -%}
        {{- tag.text -}}
    {%- endif -%}
{%- endfor -%}
{%- endmacro %}
