{%- from "macros/section_attrs.j2" import section_attrs -%}
{%- from "macros/text.j2" import text -%}

{%- macro checklist(content) -%}
    {%- for paragraph in content.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ul {{- section_attrs(content.attrs)-}}>
    {% for item in content.items %} 
        <li>
        <!-- TODO: setup so the checkbox only shows
        for the first paragraph -->
        {%- for paragraph in item.paragraphs -%}
            <p>
            <input type="checkbox" />
            {{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ul>
{%- endmacro -%}
