alfa${TOKEN}
${TOKEN}bravo~~~~~~

Check single shorthand: $NAME - Single newline between is okay

~~~~~~
{
  "category": "text",
  "content": "alfa${TOKEN} ${TOKEN}bravo"
}
~~~~~~
{
  "remainder": ""
}




