alfa${TOKEN}${TOKEN}${TOKEN}bravo~~~~~~

Check single shorthand: $NAME - Confirm triples don't work

~~~~~~
{
  "category": "text",
  "content": "alfa"
}
~~~~~~
{
  "remainder": "${TOKEN}${TOKEN}${TOKEN}bravo"
}




