{%- macro code(data) -%}
<div class="pre-wrapper">
  <div class="pre-spacer">
  {%- for attribute in data.attributes -%}
  {%- if attribute.key == "name" %} {{ attribute.value -}}
  {%- endif -%}
  {%- endfor -%}
  </div>
  <pre><code 
{%- if data.attributes != None -%}
{{- " " -}}
class="
  {%- for attribute in data.attributes -%}
  {% if loop.first and attribute.value == None -%}
  language-{{attribute.key}}
  {%- endif -%}
  {%- if attribute.key == "class" %} {{ attribute.value -}}
  {%- endif -%}
  {%- endfor -%}
  "
{%- endif -%}
>{{data.children.text}}</code></pre>
</div>
{%- endmacro %}



