{%- from "text.jinja" import text -%}
{%- from "_macros/attributes.jinja" import attributes_with_class -%}
{%- macro subtitle(data) -%}
{%- for block in data.children -%}
{%- if loop.first -%}
<div {{- attributes_with_class(data, "subtitle") -}}>
  <p>{{ text(block) }}</p>
</div>
{% else %}
<p>{{ text(block) }}</p>
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}
