{% autoescape false %}
<!DOCTYPE html>
<html>

<head>
  <title>Neopolitan</title>
    <style> body { background-color: #112; color: #aaa; } 
    </style>
    </head><body> {{- content -}}
</body></html>
{% endautoescape %}


