{%- for part in parts -%}
  {%- if loop.first -%}
    <h3 {%- autoescape false -%}
{{- attributes_string -}}
{%- endautoescape -%}>
      {%- autoescape false -%}
        {{- part -}}
      {%- endautoescape -%}
    </h3>
  {%- else -%}
    <p>
      {%- autoescape false -%}
        {{- part -}}
      {%- endautoescape -%}
    </p>
  {%- endif -%}
{%- endfor -%}
