<div class="preWrapper">
<div class="preTitle">Source</div>
<pre class="language-neo"><code class="language-neo">
{{- raw -}} 
</code></pre>
</div>

<div class="preWrapper">
<div class="preTitle">Output</div>
<pre class="language-html"><code class="language-html">
{{- html -}} 
</code></pre>
</div>
