:root {
    --main-chocolate: #240a05;
    --main-vanilla: #fefaec;
    --main-strawberry: #f9a1bc;
    --color-4: #444;
    --max-width: 68ch;
    --border-radius-1: 0.3rem;
}

/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/italic-400-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/italic-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/normal-400-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/normal-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/normal-700-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/atkinson-hyperlegible/normal-700-latin-ext.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: var(--main-chocolate);
  color: var(--main-vanilla);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-strawberry);
}


h1 {
  margin-top: 1.5rem;
  border-bottom: 1px solid;
}
h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: #f9a1bc;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1.1rem;
  font-weight: 300;
}
header {
  padding-top: 18px;
  padding-bottom: 4px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  border-bottom: 1px solid #888;
}
main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
footer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 12px;
  font-size: 0.9rem;
}
p {
  max-width: 68ch;
}

code {
  border-radius: 22px;
}

input {
  margin: 1px;
}

li {
  margin-bottom: 17px;
  max-width: 72ch;
}

ul {
  padding-top: 20px;
}

pre {
  font-size: 0.92rem;
}

pre {
  background-color: var(--color-4);
  padding: 0.7rem;
  border-radius: var(--border-radius-1);
  margin-bottom: 1.3rem;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--main-vanilla);
}

.note {
  border: 1px solid var(--main-strawberry);
  margin: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

p {
  margin-bottom: 1.3rem;
}

.example {
  background: lightyellow;
  font-style: italic;
}


