<div class="note
  {%- for attribute in attributes -%}
    {%- if attribute.key == "class" -%}
      {{- " " -}}
      {{ attribute.value }}
    {%- endif -%}
  {%- endfor -%}
  "
  {%- for attribute in attributes -%}
    {%- if attribute.key != "class" -%}
      {{- " " -}}
      {{attribute.key}}="{{attribute.value}}"
    {%- endif -%}
  {%- endfor -%}
  >
  {%- for part in parts -%}
    <p>
    {{- part -}}
    </p>
  {%- endfor -%}
</div>
