{%- for child in children -%}
  {%- if loop.first -%}
    <h1 class="title"
      {%- for attribute in attributes -%}
        {{attribute.key}}="{{attribute.value}}"
      {%- endfor -%}
    >
      {%- for snippet in child.snippets -%} 
        {{ snippet.text }}
      {%- endfor -%}
    </h1>
  {%- else -%}
    <p>
      {%- for snippet in child.snippets -%} 
        {{ snippet.text }}
      {%- endfor -%}
    </p>
  {%- endif -%}
{%- endfor -%}
