{%- for part in parts -%}
  {%- if loop.first -%}
    <h1 class="title
      {%- for attribute in attributes -%}
        {%- if attribute.key == "class" -%}
          {{- " " -}}
          {{ attribute.value }}
        {%- endif -%}
      {%- endfor -%}
    "
      {%- for attribute in attributes -%}
        {%- if attribute.key != "class" -%}
          {{- " " -}}
          {{attribute.key}}="{{attribute.value}}"
        {%- endif -%}
      {%- endfor -%}
    >
      {{ part }}
    </h1>
  {%- else -%}
    <p>
      {{ part }}
    </p>
  {%- endif -%}
{%- endfor -%}
