{% macro h3 (data) %}
{% for block in data.children %}
{% if loop.first %}
<h3>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</h3>
{% else %}
<p>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</p>
{% endif %}
{% endfor %}
{% endmacro %}
