{% from "text.jinja" import text -%}
{%- from "_macros/attributes.jinja" import attributes -%}
{% macro h4 (data) -%}
{%- for block in data.children -%}
{%- if loop.first -%}
<h4{{- attributes(data) -}}>{{- text(block) -}}</h4>
{% else -%}
<p>{{- text(block) -}}</p>
{% endif -%}
{%- endfor -%}
{%- endmacro -%}
