{% macro h5 (data) %}
{% for block in data.children %}
{% if loop.first %}
<h5>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</h5>
{% else %}
<p>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</p>
{% endif %}
{% endfor %}
{% endmacro %}
