{% macro h6 (data) %}
{% for block in data.children %}
{% if loop.first %}
<h6>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</h6>
{% else %}
<p>
  {%- for token in block.children %} {{ token.text }}{% endfor -%}
</p>
{% endif %}
{% endfor %}
{% endmacro %}
