<!DOCTYPE html>

<html>

<head>
  <title>Alfa Bravo</title>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>
</head>

<body>
  <h1>TKTKTKTK</h1>
</body>

</html>
