<!DOCTYPE html>

<html>

<head>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>

</head>

<body>
  <header>
    <a href="/">home</a>
  </header>
  
  {{ content }}
  <h3>TODO: Add posts here</h3>

  <ul>
    {% for category in categories %}
    <li>
      {{ category }}
    </li>
    {% endfor %}
  </ul>

  <hr>
{{ title }}
  <hr>



  <ul>
    {% for post in categories.Posts %}
    <li>
      <a href="/{{ post }}">TKTKTKTK Link</a>
    </li>
    {% endfor %}
  </ul>

</body>

</html>
