<!DOCTYPE html>

<html>

<head>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>

</head>

<body>
  {{ content }}

  <h3>TODO: Add posts here</h3>

  <hr />
  {{ categories }}
  <hr />

  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title}}</a>
    </li>
    {% endfor %}
  </ul>

</body>

</html>
