{% from "aside.html" import aside %}
{% from "blockquote.html" import blockquote %}
{% from "code.html" import code %}
{% from "div.html" import div %}
{% from "h1.html" import h1 %}
{% from "h2.html" import h2 %}
{% from "h3.html" import h3 %}
{% from "h4.html" import h4 %}
{% from "h5.html" import h5 %}
{% from "h6.html" import h6 %}
{% from "list.html" import list %}
{% from "note.html" import note %}
{% from "subtitle.html" import subtitle %}
{% from "paragraphs.html" import paragraphs %}
{% from "title.html" import title %}
{% from "vimeo.html" import vimeo %}
{% from "warning.html" import warning %}
{% from "youtube.html" import youtube %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Neopolitan - A plain-text format for my website</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Neopolitan - A plain-text format for my website" />
  <meta property="og:description"
    content="Details on the open-source, plain-text format I'm setting up to manage the content for my site" />

  <meta property="og:image" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site:id" content="@TheIdOfAlan" />
  <meta name="twitter:creator" content="@TheIdOfAlan" />
  <link rel="icon" type="image/png" sizes="228x228" href="/favicons/228x228.png" />
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/favicons/180x180.png" />

  <link rel="stylesheet" href="/styles/global.css" />

</head>

<body>

  <main>
    {% for section in payload.children %}
    {% if section.type == "AsideSection" %}
    {{ aside(section) }}
    {% elif section.type == "BlockquoteSection" %}
    {{ blockquote(section) }}
    {% elif section.type == "CodeSection" %}
    {{ code(section) }}
    {% elif section.type == "DivSection" %}
    {{ div(section) }}
    {% elif section.type == "H1Section" %}
    {{ h1(section) }}
    {% elif section.type == "H2Section" %}
    {{ h2(section) }}
    {% elif section.type == "H3Section" %}
    {{ h3(section) }}
    {% elif section.type == "H4Section" %}
    {{ h4(section) }}
    {% elif section.type == "H5Section" %}
    {{ h5(section) }}
    {% elif section.type == "H6Section" %}
    {{ h6(section) }}
    {% elif section.type == "List" %}
    {{ list(section) }}
    {% elif section.type == "NoteSection" %}
    {{ note(section) }}
    {% elif section.type == "Paragraphs" %}
    {{ paragraphs(section) }}
    {% elif section.type == "Subtitle" %}
    {{ subtitle(section) }}
    {% elif section.type == "Title" %}
    {{ title(section) }}
    {% elif section.type == "VimeoSection" %}
    {{ vimeo(section) }}
    {% elif section.type == "WarningSection" %}
    {{ warning(section) }}
    {% elif section.type == "YouTubeSection" %}
    {{ youtube(section) }}
    {% endif %}
    {% endfor %}
  </main>

</body>

</html>
