{% from "aside.html" import aside %}
{% from "code.html" import code %}
{% from "h2.html" import h2 %}
{% from "subtitle.html" import subtitle %}
{% from "title.html" import title %}

<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-color: black;
      color: #aaa;
    }
    .aside {
      font-style: italic;
    }
  </style>
</head>
<body>

{% for section in payload.children %}
{% if section.type == "AsideSection" %}
  {{ aside(section) }}
{% elif section.type == "Code" %}
  {{ code(section) }}
{% elif section.type == "H2Section" %}
  {{ h2(section) }}
{% elif section.type == "Title" %}
  {{ title(section) }}
{% elif section.type == "Subtitle" %}
  {{ subtitle(section) }}
{% endif %}
{% endfor %}

  <!-- aside-->
  {% for section in payload.children %}
  {% if section.type == "AsideSection" %}
  {% for block in section.children %}
  {% if loop.first %}
  <div 
      class="aside{% for attribute in section.attributes %}{% if attribute.key == "class" %} {{attribute.value}}{%endif %}{% endfor %}"
      {% for attribute in section.attributes %}{% if attribute.key != "class" %}{{attribute.key}}="{{attribute.value}}"{%endif %}{% endfor %}
    >
    {% for token in block.children %}
    {{ token.text }}
    {% endfor %}
  </div>
  {% else %}
  <p>
    {% for token in block.children %}
    {{ token.text }}
    {% endfor %}
  </p>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}

  <!-- sections -->
  {% for section in payload.children %}
  {% if section.type == "Paragraphs" %}
  {% for block in section.children %}
  <p>
    {% for token in block.children %}
    {% if token.type == "Text" %}
    {{token.text}}
    {% elif token.type == "Space" %}
    {% elif token.type == "Link" %}
    <a href="{{token.url}}">{{token.text}}</a>
    {% elif token.type == "CodeShorthand" %}
    <code>{{token.text}}</code>
    {% elif token.type == "Strong" %}
    <strong>{{token.text}}</strong>
    {% endif %}
    {% endfor %}
  </p>
  <p>
    {{block}}
  </p>
  {% endfor %}
  {% endif %}
  {% endfor %}

  <hr />

  <pre>
    {% for section in payload.children %}
    {{ section.type }}
    {% for attribute in section.attributes %}
    {{attribute}}
    {% endfor %}
    {% for block in section.children %}
    {% for token in block.children %}
    {{ token }}
    {% endfor %}
    {% endfor %}
    {% endfor %}
  </pre>

</body>

</html>
