{% macro neoexample(data) %}
<div class="neoexample">
<h6>Source</h6>
<pre><code class="
  {%- for attribute in data.attributes %}
  {% if loop.first and attribute.value == None %}
  language-{{attribute.key}}
  {%- endif -%}
  {%- if attribute.key == "class" %} {{ attribute.value }}
  {%- endif -%}
  {%- endfor -%}
  "
>{{data.raw.text}}</code></pre>

<h6>Output</h6>
<pre class="language-html"><code>{{data.html}}</code></pre>
</div>
{%- endmacro %}
