{%- from "text.jinja" import text -%}
{%- from "_macros/attributes.jinja" import attributes_with_class -%}
{%- macro notes (data) -%}
<div {{- attributes_with_class(data, "notes") -}}>
  <ul>
    {%- for note in data.children %}
    <li>{%- for block in note.children %}
      <p>
        {{ text(block) }}
      </p>
      {%- endfor %}
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endmacro -%}
