<!DOCTYPE html>
<html>

<head>
  <title>Post Template</title>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>
</head>

<body>
  <header>
    <a href="/">home</a>
  </header>
  <main>
    {{- content -}}
    <hr />
    {{- categories -}}
    <hr />
  </main>
</body>

</html>
