{%- from "text.jinja" import text -%}
{%- macro subtitle(data) -%}
{%- for block in data.children -%}
{%- if loop.first -%}
<div class="subtitle">
  {{ text(block) }}
</div>
{% else %}
<p>
  {{ text(block) }}
</p>
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}
