{%- from "_macros/attributes.jinja" import attributes -%}
{%- from "_macros/attributes.jinja" import code_attributes -%}
{%- from "_macros/attributes.jinja" import link_attributes -%}
{%- macro text(data) -%}
  {%- for token in data.children -%}

    {%- if token.type == "Space" -%}
      {{ " " }}

    {%- elif token.type == "CodeShorthand" -%}
      <code {{- code_attributes(token) -}}>{{token.text}}</code>

    {%- elif token.type == "Em" -%}
      <em {{- attributes(token) -}}>{{token.text}}</em>

    {%- elif token.type == "EmShorthand" -%}
      <em {{- attributes(token) -}}>{{token.text}}</em>

    {%- elif token.type == "Link" -%}
      <a {{- link_attributes(token) -}}>{{token.text}}</a>

    {%- elif token.type == "LinkShorthand" -%}
      <a {{- link_attributes(token) -}}>{{token.text}}</a>

    {%- elif token.type == "Strike" -%}
      <strike {{- attributes(token) -}}>{{token.text}}</strong>

    {%- elif token.type == "Strong" -%}
      <strong {{- attributes(token) -}}>{{token.text}}</strong>

    {%- elif token.type == "StrongShorthand" -%}
      <strong {{- attributes(token) -}}>{{token.text}}</strong>

    {%- elif token.type == "Text" -%}
      {{token.text}}

    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}
