{%- from "text.jinja" import text -%}
{%- macro tiktok(data) -%}
<div 
  {{- " " -}}
  class="youtubeVideo
  {%- for attribute in data.attributes -%}
    {%- if attribute.key == "class" %} 
      {{- " " -}}
      {{- attribute.value -}}
    {%- endif -%}
  {%- endfor -%}
  "
{%- for attribute in data.attributes -%}
  {%- if attribute.key != "class" and loop.index > 1 %} 
  {{- " " -}}
      {{- attribute.key -}}="
      {{- attribute.value -}}"
  {%- endif -%}
{%- endfor -%}
>
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@classic.cranberry/video/6914842286190791941" data-video-id="6914842286190791941" style="max-width: 605px;min-width: 325px;" > 
<section> <a target="_blank" title="@classic.cranberry" href="https://www.tiktok.com/@classic.cranberry?refer=embed">@classic.cranberry</a> New keyboard
💖 <a title="inlove" target="_blank" href="https://www.tiktok.com/tag/inlove?refer=embed">#InLove</a>
<a title="homemade" target="_blank" href="https://www.tiktok.com/tag/homemade?refer=embed">#Homemade</a> <a title="keyboardasmr" target="_blank"
href="https://www.tiktok.com/tag/keyboardasmr?refer=embed">#keyboardasmr</a> 
<a title="keyboard" target="_blank" href="https://www.tiktok.com/tag/keyboard?refer=embed">
#keyboard</a> <a title="keyboardchallenge" target="_blank" href="https://www.tiktok.com/tag/keyboardchallenge?refer=embed">#keyboardchallenge</a> <a title="asmr" target="_blank" href="https://www.tiktok.com/tag/asmr?refer=embed">#asmr</a>
<a title="asmrtiktoks" target="_blank" href="https://www.tiktok.com/tag/asmrtiktoks?refer=embed">#asmrtiktoks</a> <a target="_blank" title="♬ original sound - classic cranberry" href="https://www.tiktok.com/music/original-sound-6914842277408033542?refer=embed">♬ original sound - classic cranberry</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>

  <iframe 
    src="https://www.youtube.com/embed/{{ data.attributes[0].key }}"
    width="560" height="315" 
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; 
    encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
{%- endmacro -%}



