{%- from "text.jinja" import text -%}
{%- from "_macros/attributes.jinja" import attributes -%}
{%- macro todo(data) -%}
<div {{- attributes(data) -}}>
  <ul
  {%- for attribute in data.attributes %}{{ " " }}{{attribute.key}}="{{attribute.value}}"{% endfor -%}>
    {%- for item in data.children %}
    <li class="status-{{ item.status }}">{%- for block in item.children %}
      <p>
      {%- if loop.first -%}
        <input type="checkbox"{% if item.status != None %} checked{% endif %} disabled/>
        {{ " " -}}
      {%- endif -%}
        {{- text(block) -}}
      </p>
      {%- endfor %}
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endmacro -%}
