{%- from "text.jinja" import text -%}
{%- macro todo(data) -%}
<ul
{%- for attribute in data.attributes %}{{ " " }}{{attribute.key}}="{{attribute.value}}"{% endfor -%}>
  {%- for item in data.children %}
  <li>{%- for block in item.children %}
    <p>{{ text(block) }}</p>
    {%- endfor %}
  </li>
  {%- endfor %}
</ul>
{%- endmacro -%}
