{%- from "text.jinja" import text -%}
{%- macro warningx(data) -%}
<div class="warning">
  {%- for block in data.children %}
  <p>{{ text(block) }}</p>
  {%- endfor %}
</div>
{% endmacro %}

{%- macro warning(data) -%}
<div 
  {{- " " -}}
  class="warning
  {%- for attribute in data.attributes -%}
    {%- if attribute.key == "class" %} 
      {{- " " -}}
      {{- attribute.value -}}
    {%- endif -%}
  {%- endfor -%}
  "
{%- for attribute in data.attributes -%}
  {%- if attribute.key != "class" %} 
  {{- " " -}}
      {{- attribute.key -}}="
      {{- attribute.value -}}"
  {%- endif -%}
{%- endfor -%}
>
{%- for block in data.children %}
  <p>{{ text(block) }}</p>{%- endfor %}
</div>
{%- endmacro -%}
