<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <h2>THIS IS AN INDEX TEMPLATE</h2>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title}}</a>
    </li>
    {% endfor %}
  </ul>



</html>
