{%- from "macros/text.j2" import text -%}
{%- from "macros/sections.j2" import sections -%}
{%- from "macros/head_content.j2" import head_content -%}
{%- from "macros/section_attrs.j2" import section_attrs -%}
{%- from "sections/aside.j2" import aside -%}
{%- from "sections/blockquote.j2" import blockquote -%}
{%- from "sections/checklist.j2" import checklist -%}
{%- from "sections/closediv.j2" import closediv -%}
{%- from "sections/code.j2" import code -%}
{%- from "sections/h1.j2" import h1 -%}
{%- from "sections/h2.j2" import h2 -%}
{%- from "sections/h3.j2" import h3 -%}
{%- from "sections/h4.j2" import h4 -%}
{%- from "sections/h5.j2" import h5 -%}
{%- from "sections/h6.j2" import h6 -%}
{%- from "sections/html.j2" import html -%}
{%- from "sections/image.j2" import image -%}
{%- from "sections/images.j2" import images -%}
{%- from "sections/list.j2" import list -%}
{%- from "sections/notes.j2" import notes -%}
{%- from "sections/olist.j2" import olist -%}
{%- from "sections/opendiv.j2" import opendiv -%}
{%- from "sections/p.j2" import p -%}
{%- from "sections/pre.j2" import pre -%}
{%- from "sections/title.j2" import title -%}
{%- from "sections/vimeo.j2" import vimeo -%}
{%- from "sections/youtube.j2" import youtube -%}

<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>

  {{ head_content(content) }}

</head>
<body>
  <header>
    <a href="/">home</a>  
        {{ title(content, date) }}
  </header>
  <main>

  {%- for section in content -%}
    {%- if section.type == "aside" -%}
      {{ aside(section) }}
    {%- elif section.type == "blockquote" -%}
      {{ blockquote(section) }}
    {%- elif section.type == "checklist" -%}
      {{ checklist(section) }}
    {%- elif section.type == "closediv" -%}
      {{ closediv() }}
    {%- elif section.type == "code" -%}
      {{ code(section) }}
    {%- elif section.type == "hidden" -%}
    {%- elif section.type == "h1" -%}
      {{ h1(section) }}
    {%- elif section.type == "h2" -%}
      {{ h2(section) }}
    {%- elif section.type == "h3" -%}
      {{ h3(section) }}
    {%- elif section.type == "h4" -%}
      {{ h4(section) }}
    {%- elif section.type == "h5" -%}
      {{ h5(section) }}
    {%- elif section.type == "h6" -%}
      {{ h6(section) }}
    {%- elif section.type == "html" -%}
        {{- section.text -}}
    {%- elif section.type == "hr" -%}
      <hr {{- section_attrs(section.attrs)-}} />
    {%- elif section.type == "image" -%}
       {{- image(section) -}}


    {%- elif section.type == "list" -%}
       {%- for paragraph in section.paragraphs -%}
          <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
      <ul {{- section_attrs(section.attrs)-}}>
        {% for item in section.items %} 
          <li>
            {%- for paragraph in item.paragraphs -%}
              <p>{{- text(paragraph.tags) -}}</p>
            {%- endfor -%}
          </li>
        {% endfor %}
      </ul>
    {%- elif section.type == "notes" -%}
       {%- for paragraph in section.paragraphs -%}
          <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
      <ul {{- section_attrs(section.attrs)-}}>
        {% for item in section.items %} 
          <li>
            {%- for paragraph in item.paragraphs -%}
              <p>{{- text(paragraph.tags) -}}</p>
            {%- endfor -%}
          </li>
        {% endfor %}
      </ul>
    {%- elif section.type == "olist" -%}
       {%- for paragraph in section.paragraphs -%}
          <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
      <ol {{- section_attrs(section.attrs)-}}>
        {% for item in section.items %} 
          <li>
            {%- for paragraph in item.paragraphs -%}
              <p>{{- text(paragraph.tags) -}}</p>
            {%- endfor -%}
          </li>
        {% endfor %}
      </ol>
    {%- elif section.type == "opendiv" -%}
      <div {{- section_attrs(section.attrs) -}}>
    {%- elif section.type == "p" -%}
      {%- for paragraph in section.paragraphs -%}
        <p {{- section_attrs(section.attrs) -}}>{{- text(paragraph.tags) -}}</p>
      {%- endfor -%}
    {%- elif section.type == "pre" -%}
      <pre {{- section_attrs(section.attrs)-}}>
        {{- section.text -}}
      </pre>
    {%- elif section.type == "vimeo" -%}
      <div {{- section_attrs(section.attrs)-}}>
       <iframe src="https://player.vimeo.com/video/{{- section.id -}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
    {%- elif section.type == "youtube" -%}
      <div {{- section_attrs(section.attrs)-}}>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{- section.id -}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    {%- endif -%}
  {%- endfor -%}


  </main>
</body>
</html>
