<ul class="checklist">
{% for child in children -%}
<li><input type="checkbox" class="checklistCheckbox" disabled />
{%- for stuff in child.children -%}
<p>{{ stuff }}</p>
{%- endfor -%}
</li>
{% endfor -%}
</ul>