alfa${TOKEN}${TOKEN}bravo~~~~~~txt~~~~~~ok~~~~~~

Check single shorthand: $NAME - Double characters break

~~~~~~
{
  "category": "text",
  "content": "alfa"
}
~~~~~~
{
  "remainder": "${TOKEN}${TOKEN}bravo"
}



