alfa   ${TOKEN}     ${TOKEN}    bravo~~~~~~txt~~~~~~ok~~~~~~

Check single shorthand: $NAME - Spaces between are okay

~~~~~~
{
  "category": "text",
  "content": "alfa ${TOKEN} ${TOKEN} bravo"
}
~~~~~~
{
  "remainder": ""
}




