<!DOCTYPE html>
<html>

<head>
  <title>Neopolitan</title>
  <link rel="stylesheet" href="/styles/global.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Neopolitan</a></li>
        <li><a href="/sections/index.html">Sections</a></li>
        <li><a href="/inline-tags/index.html">Inline Tags</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{- content -}}
  </main>
</body>

</html>
