<!DOCTYPE html>
<html>
<head>
  <title>Neopolitan</title>
  <link rel="stylesheet" href="/styles/global.css" />
</head>
<body> 
<main>
{%- autoescape false -%}
{{- content -}}
{%- endautoescape -%}
</main>
</body>
</html>


